# Временный файл блокировки сборки Hugo
.hugo_build.lock

# Директория локальной сборки сайта (генерируется автоматически)
public/

# Локальные ресурсы и кэш Hugo
resources/_gen/
.sass-cache/

# Скрытые файлы операционной системы и резервные копии
.DS_Store
Thumbs.db
*.bak
*~